@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color:#350955;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #ffbfc8;
    background-image: radial-gradient(#e2a4ad 5px, transparent 0);
    background-size: 20px 20px;
}

img {
    max-width: 100%;
    width: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arvo", serif;
    margin: 22px 0;
    color: var(--text-color);
}

p {
    margin: 4px 0;
    font-size: 22px;
    color: var(--text-color);
}

li::marker {
    color: var(--main-color);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head {
    width: 85%;
    text-align: left;
    padding: 5px 25px;
    border-radius: 25px;
    outline: 2px dotted var(--text-color);
    outline-offset: -5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.box {
    width: 85%;
    margin: 10px 0;
    text-align: left;
    padding: 25px 25px;
    border-radius: 25px;
    outline: 2px dotted var(--text-color);
    outline-offset: -5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.topnav {
    font-family: "Arvo", serif;
    text-align: center;
    display: flex;
}

.topnav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    color: var(--text-color);
}

.topnav a.separator {
    padding: 10px 15px;
}

.topnav a.language {
    padding: 10px 5px;
}

.topnav a.slash {
    padding: 10px 2px;
}

.topnav a.main {
    font-size: 28px;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}