@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
    --main-color:#350955;
    --main-color-translucent:#35095580;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #ffbfc8;
    background-image: radial-gradient(#e2a4ad 5px, transparent 0);
    background-size: 20px 20px;
    animation: slide-in 100s linear infinite;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Forum", serif;
    font-weight: bold;
    font-size: 30px;
    margin: 12px 0;
    color: var(--main-color);
}

p {
    margin: 4px 0;
    font-size: 22px;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    flex-shrink: 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head {
    width: 85%;
    text-align: left;
    padding: 5px 25px;
    border-radius: 25px;
    outline: 2px dotted var(--main-color);
    outline-offset: -5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.box {
    width: 85%;
    margin: 10px 0;
    text-align: left;
    padding: 25px 25px;
    border-radius: 25px;
    outline: 2px dotted var(--main-color);
    outline-offset: -5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.post {
    width: 95%;
    margin: 10px 0;
    text-align: left;
    padding: 25px 25px;
    border-radius: 25px;
    outline: 2px dotted var(--main-color);
    outline-offset: -5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--main-color-translucent);
    margin: 10px 0;
}

.icon {
    border-radius: 15px;
    border: 2px dotted var(--main-color);
    padding: 2px;
    display: inline-block;
}

.icon img {
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    display: block;
}

.a {
    flex-shrink: 0;
}

.pfp {
    border-radius: 15px;
    border: 2px dotted var(--main-color);
    padding: 2px;
    display: inline-block;
}

.pfp img {
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    display: block;
}

.round img {
    border-radius: 10px;
}

.topnav {
    font-family: "Forum", serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.topnav a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
    color: var(--main-color);
}

.topnav a.space {
    padding: 10px 15px;
}

.topnav a.language {
    padding: 10px 5px;
}

.topnav a.slash {
    padding: 10px 2px;
}

.topnav a.main {
    font-size: 28px;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.belt-row {
    flex-direction: row;
    display: flex;
}

.belt-column {
    flex-direction: column;
    display: flex;
}

.belt-top {
    margin-bottom: auto;
}

.belt-bottom {
    margin-top: auto;
}

.belt-left {
    margin-right: auto;
}

.belt-right {
    margin-left: auto;
}

.belt-title {
    text-decoration: none;
    font-family: "Forum", serif;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 24px;
    color: var(--main-color);
}

.belt-title-translucent {
    text-decoration: none;
    font-family: "Forum", serif;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 24px;
    color: var(--main-color-translucent);
}

.belt-text {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 22px;
    color: var(--main-color);
}

.grid-images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: masonry;
    gap: 5px;
}

.grid-image {
    margin: auto;
}

.grid-images img {
    transition: all 0.2s;
    z-index: 1;
}

.grid-images img:hover {
    transform: scale(1.05);
    z-index: 2;
}

.grid-image-animation {
    animation: jump 0.5s ease-in-out;
    z-index: 3;
}

.image-404 {
    height: auto;
}

.social {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social:hover {
    filter: none;
    transform: scale(1.3);
}

.social-fluffyvillage {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-fluffyvillage:hover {
    filter: invert(29%) sepia(13%) saturate(2477%) hue-rotate(314deg) brightness(107%) contrast(80%); /*#964747*/
    transform: scale(1.3);
}

.social-website {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-website:hover {
    filter: invert(64%) sepia(1%) saturate(0%) hue-rotate(144deg) brightness(94%) contrast(93%); /*#999999*/
    transform: scale(1.3);
}

.social-github {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-github:hover {
    filter: invert(47%) sepia(41%) saturate(765%) hue-rotate(176deg) brightness(84%) contrast(101%); /*#3c74c3*/
    transform: scale(1.3);
}

.social-curseforge {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-curseforge:hover {
    filter: invert(48%) sepia(48%) saturate(3257%) hue-rotate(342deg) brightness(101%) contrast(89%); /*#f16436*/
    transform: scale(1.3);
}

.social-modrinth {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-modrinth:hover {
    filter: invert(43%) sepia(89%) saturate(814%) hue-rotate(114deg) brightness(92%) contrast(101%); /*#00af5c*/
    transform: scale(1.3);
}

.social-discord {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-discord:hover {
    filter: invert(33%) sepia(26%) saturate(3981%) hue-rotate(219deg) brightness(106%) contrast(90%); /*#5865f2*/
    transform: scale(1.3);
}

.social-youtube {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-youtube:hover {
    filter: invert(19%) sepia(86%) saturate(5012%) hue-rotate(358deg) brightness(98%) contrast(131%); /*#ff0000*/
    transform: scale(1.3);
}

.social-bluesky {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-bluesky:hover {
    filter: invert(22%) sepia(97%) saturate(2327%) hue-rotate(221deg) brightness(103%) contrast(93%); /*#295ef6*/
    transform: scale(1.3);
}

.social-reddit {
    filter: invert(12%) sepia(39%) saturate(4710%) hue-rotate(264deg) brightness(80%) contrast(109%); /*#350955*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.social-reddit:hover {
    filter: invert(30%) sepia(46%) saturate(5388%) hue-rotate(7deg) brightness(107%) contrast(103%); /*#ff4500*/
    transform: scale(1.3);
}

.flag {
    image-rendering: pixelated;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
}

.flag:hover {
    transform: scale(1.3);
}

.badge {
    image-rendering: pixelated;
    transition: all 0.2s;
    cursor: pointer;
    margin: 0 5px;
    z-index: 1;
}

.badge:hover {
    transform: scale(2.0);
    z-index: 2;
}

@keyframes slide-in {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

@keyframes jump {
    0% { 
        transform: translateY(0); 
    }
    50% { 
        transform: translateY(-100px); 
    }
    100% { 
        transform: translateY(0); 
    }
}

@media screen and (max-width: 960px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 26px;
        margin: 10px 0;
    }

    p {
        margin: 3px 0;
        font-size: 18px;
    }

    .topnav a {
        padding: 8px 8px;
        font-size: 20px;
    }

    .topnav a.space {
        padding: 8px 0px;
    }

    .topnav a.language {
        padding: 8px 5px;
    }

    .topnav a.slash {
        padding: 8px 2px;
    }

    .topnav a.main {
        font-size: 24px;
        padding: 5px 0px;
    }

    .head {
        width: 95%;
    }

    .box {
        margin: 8px 0;
        padding: 20px 20px;
        width: 95%;
    }

    .post {
        margin: 8px 0;
        padding: 20px 20px;
        width: 98%;
    }

    .icon {
        width: 158px;
        height: 158px;
    }

    .pfp {
        width: 88px;
        height: 88px;
    }

    .belt-title {
        font-size: 20px;
        padding: 1px 5px;
    }

    .belt-title-translucent {
        font-size: 20px;
        padding: 1px 5px;
    }

    .belt-text {
        font-size: 18px;
        padding: 1px 5px;
    }

    .grid-images {
        grid-template-columns: repeat(6, 1fr);
    }

    .image-404 {
        width: 300px;
    }

    .social {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-fluffyvillage {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-website {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-github {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-curseforge {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-modrinth {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-discord {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }
    
    .social-youtube {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-bluesky {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .social-reddit {
        width: 30px;
        height: 30px;
        margin: 0 3px;
    }

    .flag {
        width: 32px;
        height: 32px;
        margin: 0 3px;
    }

    @keyframes jump {
        0% { 
            transform: translateY(0); 
        }
        50% { 
            transform: translateY(-60px); 
        }
        100% { 
            transform: translateY(0); 
        }
    }
}

@media screen and (max-width: 560px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 22px;
        margin: 8px 0;
    }

    p {
        margin: 2px 0;
        font-size: 14px;
    }

    .topnav a {
        padding: 4px 6px;
        font-size: 16px;
    }

    .topnav a.space {
        padding: 4px 0px;
    }

    .topnav a.language {
        padding: 4px 6px;
    }

    .topnav a.slash {
        padding: 4px 2px;
    }

    .topnav a.main {
        font-size: 20px;
        padding: 2px 0px;
    }

    .head {
        width: 98%;
    }

    .box {
        margin: 6px 0;
        padding: 15px 15px;
        width: 98%;
    }

    .post {
        margin: 6px 0;
        padding: 15px 15px;
        width: 99%;
    }

    .icon {
        width: 108px;
        height: 108px;
    }

    .pfp {
        width: 58px;
        height: 58px;
    }

    .belt-title {
        font-size: 16px;
        padding: 1px 3px;
    }

    .belt-title-translucent {
        font-size: 16px;
        padding: 1px 3px;
    }

    .belt-text {
        font-size: 14px;
        padding: 1px 3px;
    }

    .grid-images {
        grid-template-columns: repeat(4, 1fr);
    }

    .image-404 {
        width: 200px;
    }

    .social {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-fluffyvillage {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-website {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-github {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-curseforge {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-modrinth {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-discord {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-youtube {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-bluesky {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .social-reddit {
        width: 20px;
        height: 20px;
        margin: 0 2px;
    }

    .flag {
        width: 16px;
        height: 16px;
        margin: 0 2px;
    }

    @keyframes jump {
        0% { 
            transform: translateY(0); 
        }
        50% { 
            transform: translateY(-30px); 
        }
        100% { 
            transform: translateY(0); 
        }
    }
}